body {
  background-image: url("https://i.redd.it/hi4s58e6l1v01.jpg");
  background-size: 100%;
  color: yellow;
  padding: 40px;
  font-family: Arial;
  font-size: 170%;
  text-align: center;
}

divider{
  width:5px;
  height:auto;
  display:inline-block;
}
